@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
	margin: 0;
	
}

header{
	background: white;
	color: white;
	padding: 8px 0px 6px 40px;
	height: 45px;
}

header h1{
	display: inline;
	font-family: 'Oswald',sans-serif;
	font-weight: 400;
	font-size: 32px;
	float: left;
	margin-top: 0px;
	margin-right: 10px;
	color: black;
}

nav ul{
	display: inline;
	padding: 0px;
	float: left;
}

nav ul li{
	display: inline-block;
	list-style-type: none;
	color: white;
	float: left;
	margin-left: 12px;
}

nav ul li a{
	color: black;
	text-decoration: none;
	transition: 0.6s ease;
}

#nav{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.homered{
	background-color:  #8cd98c;
	padding: 30px 10px 16px 10px;
}

.wrapper{
	display: inline-block;
	float: right;
	margin-right:12px;
	padding:2px;
}

.wrapper li i{
	margin-right: 0px;
	width: 30px;
	display: block;
	color: black;
	padding: 2px;
	text-align: center;
}

.wrapper li i:hover{
	background-color: #b3e6b3;
	padding: 30px 10px 12px 10px;
	margin-top: -25px;
}

.divider{
	background-color:  #8cd98c;
	height: 5px;
}
	
.homeblack:hover{
	background-color: #b3e6b3;
	padding: 30px 10px 16px 10px;
}

.fwimage1 {
	background-image: url(../images/g.jpg);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0;
	padding: 0;
}

.imageblog{
	margin: 0px;
	padding: 0px;
	background-image: url(../images/a.jpeg);
	width: 100%;
	height: 91.2%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.fwimage2 {
	background-image: url(../images/ace.jpg);
	width: 100%;
	height: 91.2%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0;
}

.fwimage3 {
	background-image: url(../images/ace.jpg);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0;
	padding: 0;
}

.fwimage4 {
	background-image: url(../images/azx.jpg);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 0 0 0 0;
	margin-top: -22px;
}

.fwimage5 {
	margin: 0px;
	padding: 3% 8% 2% 8%;
	color: #49585D;
	background-color: #cccccc;
	width: 84%;
	height: 91.2%;
}

.fwimage6 {
	margin: 0px;
	padding: 3% 8% 2% 8%;
	color: #49585D;
	background-color: #cccccc;
	width: 84%;
	height: 124.5%;
}

.homesub{
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 6% 5% 0% 55%;
	font-size: 18px;
	color: white;
}

.homedes{
	font-family: 'Raleway', sans-serif;
	margin: 0.5% 0% 0% 55%;
	font-size: 75px;
	color: white;
	background-color: rgba(0,0,0,0.4);
	display: inline-block;
}

.homepho{
	font-family: 'Oswald', sans-serif;
	margin: 0% 0% 0% 55%;
	font-size: 64px;
	color: white;
	display: inline-block;
}

.buttonhome {
  border-radius: 4px;
  background-color:  #8cd98c;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 240px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0% 0% 0% 55%;
}

.buttonhome span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: #551A8B;
}

.buttonhome span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonhome:hover span {
  padding-right: 25px;
}

.buttonhome:hover span:after {
  opacity: 1;
  right: 0;
}
.colorchange{
	animation: colorchangepradip 1s infinite;
}

@keyframes colorchangepradip{
	0%{color: yellow;}
	25%{color: green;}
	50%{color: blue;}
	75%{color: orange;}
	100%{color: red;}
}



.blog1{
	display: inline;
	font-family: 'Oswald',sans-serif;
	font-weight: 600;
	font-size: 32px;
	margin: 0;
	padding: 23%;
	color: white;
}

.blog2{
	display: inline;
	font-family: 'Oswald',sans-serif;
	font-weight: 400;
	font-size: 28px;
	margin: 0.5;
	padding: 23%;
	float: center;
	color: white;
}

.logo{
	float: right;
	margin-right:12px;
	padding:0px;
}

.research{
	margin: 0 20 20 20;
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 0px 0px 16px 4px;
  font-size: 16px;
  border: none;
  font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
	background-color: #b3e6b3;
	padding: 15px 10px 10px 10px;
}

.dropdown:hover .dropdown-content {
	display: block;
	margin: -16px 8px 16px 8px;
}

.dropdown:hover .dropbtn {
	background-color: #b3e6b3;
	padding: 30px 8px 16px 8px;
	margin: -30px 8px 16px 8px;
	transition:0.6s ease;
}

.dropbtnred {
    background-color: #8cd98c;
    color: black;
    padding: 25px 8px 16px 8px;
    font-size: 16px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: -25px 0px 16px 4px;
  }

.raw{
	background-color:  #8cd98c;
	padding: 9px 0px 10px 0px;
  text-align: center;
  transition: 0.6 sec ease;
}
